<!-- <div
class="btn-group"
appDropdown>
<button
  type="button"
  class="btn btn-primary dropdown-toggle">
  Manage Recipe <span class="caret"></span>
</button>
<ul class="dropdown-menu">
  <li><a (click)="type1()" style="cursor: pointer;">Type 1</a></li>
  <li><a style="cursor: pointer;" (click)="type2()">Type 2</a></li>
  <li><a style="cursor: pointer;" (click)="type3()">Type 3</a></li>
</ul>
</div> -->
<p>Pick a theme</p>
<select [(ngModel)]="selectedTheme">
    <option *ngFor="let theme of themes" [ngValue]="theme">{{ theme.name }}</option>
  </select>


    <table [ngClass]="selectedTheme.class">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>

